/* the styles for the body and how the website will look */
body{
    margin: auto;
    background-color: rgb(41, 41, 41);
}

/* the styles for the header and how I separated it */

header{

    background-color: black;
    text-align: center;
    padding: 15px;
}

/* the font for the title and color */

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* the styles for the both nav menus one for the actual nav bar
and another for the list */

.navigationbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.navigationbar ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
}
.navigationbar a.current {
	color: rgb(255, 255, 255);
}
.navigationbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
.navigationbar ul ul li {
	float: none;
}
.navigationbar ul li:hover > ul {
	display: block;
}
.navigationbar > ul::after {
    content: "";
    clear: both;
    display: block;
}

.navigationbar a:hover{
    background-color: hsl(0, 1%, 35%);
}

#GoBack{
    text-align: right;
    font-size: larger;
    margin-left: 95%;
}

#GoBack :hover{
    background-color: hsl(0, 1%, 35%);
}


#Photos{
    display: inline-block;
    border: 5px solid black;
    width: 200 px;
    margin-right: 300px;
    margin-top: 150px;
    margin-left: 200px;

}

.SilverTrumpetDesc{
    text-align: center;
    padding: 15px;
    font-size: large;
    color: aliceblue;
    background-color: black;
}

#Photos img{
    width: 200px;
    height:auto
}

/* the styles for the footer*/

footer{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    font-size: larger;
}

/* the styles for the h2*/

h2{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px;
    border: 15px solid;
}